<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <%= image_tag @user.profile.avatar, class: 'avatar-show-img' %>
    </div>
    <div class="col-md-6 name-show">
      <h1><span><%= job_title_icon %></span><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
      <div class="well profile-block">
        <%= @user.profile.description %>
      </div>
    </div>
  </div>
</div>
